<h1 mat-dialog-title>Add User Story Form</h1>
<div mat-dialog-content>
  <form [formGroup]="pbForm">
  
    <mat-form-field appearance="outline">
        <mat-label>AS A</mat-label>
        <input formControlName="asA" matInput placeholder="Asa">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label> I WANT </mat-label>
        <input formControlName="iWant" matInput placeholder="Iwant">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>SO THAT</mat-label>
        <input formControlName="soThat" matInput placeholder="Sothat">
      </mat-form-field>
  </form>
</div>
<Div mat-dialog-action [align]="'end'">
<button mat-raised-button color="warn" mat-dialog-close> Close </button>
<button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addUs()"> Save </button>
</Div>

