<h1 mat-dialog-title>Add User Story Form</h1>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>AS A</mat-label>
        <input matInput placeholder="....">
      </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label> I WANT </mat-label>
        <input matInput placeholder="....">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>SO THAT</mat-label>
        <input matInput placeholder="....">
      </mat-form-field>
</div>
<Div mat-dialog-action [align]="'end'">
<button mat-raised-button color="warn" mat-dialog-close> Close </button>
<button style="margin-left: 8px;" mat-raised-button color="primary"> Save </button>
</Div>